<!-- Sign in form -->
<div class="container">
    <div class="card card-container">
      <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
      <p id="profile-name" class="profile-name-card"></p>
      <div class="form-signin">
         <span id="reauth-email" class="reauth-email"></span>
         <!-- Sign in form -->
					<h3>Sign in</h3>
					<%= form_for(:session, url: login_path) do |f| %>
						<%= f.email_field :email , type: "email", id: "inputEmail", class: "form-control", placeholder: "Email address" %>
						<%= f.password_field :password, type: "password", id: "inputPassword", class: "form-control", placeholder: "Password" %>
						<%= f.submit value: "Sign in", class: "btn btn-lg btn-primary btn-block btn-signin" %>
					<% end 	%>
					<h3> <center>Or</center> </h3>
					<%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
					<%= link_to "Sign Up",  sessions_path %>
			</div>
    </div>
</div>




