<div class="group-list">
	  <select class ="btn btn-lg btn-primary btn-block">
	  	<% @groups.reverse.each do |group| %>
				<div class="job-list">
					<option><%= link_to group.name,  group_path(group) %></option>
					<br> 
				</div>
			<% end %>
	  </select>
</div>
<div class="container">
    <div class="span3 well">
        <img src="http://superiorplatform.com/pictures-of/faces/angry/04a-angry_baby.jpg" name="aboutme" width="140" height="140" class="img-circle">
        <div class="infos">
        	<br>
					E-mail: <%= @user.email %> 
					<br>
					First name: <%= @user.fname %>  
					<br>
					Last name: <%= @user.lname %>  
					<br>
					Phone number: <%= @user.phone %> 
					<br>
					Password: *******
				</div>
				<!-- user information update -->
				<div class="info-update">
	
				</div>
    </div>
</div>

<!-- button to create a group -->
<button class="create-group btn btn-lg btn-primary btn-block">Create a group</button>
<div class="container3">
    <div class="row">
        <div class='col-md-3'></div>
        <div class="col-md-6">
            <div class="login-box well">
              <legend>My new rumble group</legend>
              <div class="form-group">
                  <label>Add friends:</label>
                  <br>
                  <div id="tags">
										<input id="tag" type="text" value="" placeholder="Add a friend" />
									</div>
									  <% @users.each do |user| %>
      								<h6 class="autofill" value="" ><%= user.fname %></h6>
   									<% end %>
									<br>
              </div>
              <div class="form-group">
                  <label >Group name</label>
                  <%= form_for @group do |f|%>										
                  	<%= f.text_field :name, placeholder: "name", :class => 'form-control' %> 
										<br>
										<%= f.hidden_field :user_id, value: current_user.id %>
										<br>
									  <br>
									  <%= f.hidden_field :fname, value: current_user.fname %>
									  <br>
              			<%= f.submit value: "Create", :class => 'submit-group btn btn-default btn-login-submit btn-block m-t-md' %>
									<% end %> 
              </div>            
            </div>
        </div>
        <div class='col-md-3'></div>
    </div>
</div>


