<div class="container">
  <div class="span3 well">
       <img src="http://superiorplatform.com/pictures-of/faces/angry/04a-angry_baby.jpg" name="aboutme" width="140" height="140" class="img-circle">
        <div class="infos">
        	<br>
					E-mail: <%= @user.email %> 
					<br>
					First name: <%= @user.fname %>  
					<br>
					Last name: <%= @user.lname %>  
					<br>
					Phone number: <%= @user.phone %> 
					<br>
					Password: *******
				</div>
				<!-- user information update -->
				<div class="info-update">
	
				</div>
    </div>
</div>
		<% if @user.id == session[:user_id] %>
			<button class="create-group btn btn-lg btn-primary btn-block">Create a group</button>
		<% else %> 
			<% if !@friends %>
			  <%= button_to 'Add friend', {controller: "friends", action: "create", myfriend_id: params[:id]}, data: { confirm: 'are you sure you want to be friend with that person', class: "create-group btn btn-lg btn-primary btn-block"} %>
			<% else %>
			  <%= button_to 'Unfriend', friend_path(params[:id]), method: :delete, class: "create-group btn btn-lg btn-primary btn-block" %>
			<% end %>
		<% end %>
<!-- button to create a group -->
<div class="container3">
    <div class="row">
        <div class='col-md-3'></div>
        <div class="col-md-6">
            <div class="login-box well">
              <legend>My new rumble group</legend>
              <div class="form-group">
                  <label>Add friends:</label>
                  <br>
                  <div id="tags">
										<input id="tag" type="text" value="" placeholder="Add a friend" />
									</div>
									  <% @friend.each do |friend| %>
									  	<% friend = User.find(friend.friend_id) %>
      								<h6 class="autofill" value="" ><%= friend.email %></h6>
   									<% end %>
									<br>
              </div>
              <div class="form-group">
                  <label >Group name</label>
                  <%= form_for @group do |f|%>										
                  	<%= f.text_field :name, placeholder: "name", :class => 'form-control' %> 
										<br>
										<%= f.hidden_field :user_id, value: current_user.id %>
										<br>
									  <br>
									  <%= f.hidden_field :fname, value: current_user.fname %>
									  <br>
	              			<%= f.submit value: "Create", :class => 'submit-group btn btn-default btn-login-submit btn-block m-t-md' %>
	              		<% end %>
              </div>            
            </div>
        </div>
    </div>
</div>


