
<h4>User signed in</h4>
<%= current_user.email %>
<%= button_to("Log out", logout_path, method: :delete)%>

<!-- profile picture -->
<div class="container">
<br>
	<img src="http://i.dailymail.co.uk/i/pix/2016/04/13/00/331D901800000578-3536787-image-a-11_1460503122350.jpg">

	<!-- user informations -->
	<div class="infos">
		<h2>E-mail: <%= @user.email %> </h1> 
		<h2>First name: <%= @user.fname %> </h1> 
		<h2>Last name: <%= @user.lname %> </h1> 
		<h2>Phone number: <%= @user.phone %> </h1> 
		<h2>Password: *******</h1> 
	</div>
</div>

<!-- user information update -->
<div class="info-update">
	
</div>
<!-- button to create a group -->
<button class="create-group">Create a group</button>
<div class="group-list">
	<br>
	<div class="form">
		<%= form_for @group do |f|%>
		<%= f.text_field :name, placeholder: "name" %> 
		<%= f.hidden_field :user_id, value: current_user.id %><br>
		<%= f.submit value: "Create" %>
	<% end %> 
	</div>
	<br>
	<% @groups.reverse.each do |group| %>
		<div class="job-list">
			<%= link_to group.name,  group_path(group) %>
			<br> 
		</div>
	<% end %>
</div>
