<div class="container">
    <div class="span3 well">
				<% if current_user.id == @user.id %>
					<center><legend>Welcome <%= current_user.fname %></legend></center>
				<% else %>
				<center><legend>Welcome to <%= @user.fullname %>'s page</legend></center>
				<% end %>
				<div id="invite-box">
					<!-- btn btn-lg btn-primary btn-block -->
				</div>
        <img src="<%= @user.image + '?type=large' %>" name="aboutme" width="140" height="140" class="img-circle" id="showimage">
        <br>
			<% if !@friends %>
			  <%= button_to 'Add friend', {controller: "friends", action: "create", myfriend_id: params[:id]}, data: { confirm: 'Are you sure you want to be friend with this person?', class: "create-group btn btn-lg btn-primary btn-block"} %>
			<% else %>
			  <%= button_to 'Unfriend', friend_path(params[:id]), method: :delete, class: "create-group btn btn-lg btn-primary btn-block" %>
			<% end %>
    </div>
</div>
				<!-- user information update -->
				<div class="container">
				<div id="friendimage">
				<center><label>Friends</label></center>
					<br>
					<% @buddy.each do |buddy| %>
					<% x = buddy.friend_id %>
					<% y = User.find(x) %>
					<div id="friendi">
					<img src="<%= y.image %>" id="fimage">
					<br>
					<center><%= link_to("#{y.fname}", user_path(y.id), method: :get) %></center>
					</div>
					<% end %>
					</div>
				</div>
		<% if @user.id == session[:user_id] %>
			<button class="create-group btn btn-lg btn-primary btn-block">RUMBLE!</button>
<div class="container3">
    <div class="row">
        <div class='col-md-3'></div>
        <div class="col-md-6">
            <div class="login-box well">
              <legend>Create a New Rumble Group</legend>
              <div class="form-group">
                  <label>Add friends:</label>
                  <br>
                  <div id="tags">
										<input id="tag" type="text" value="" placeholder="Add a friend" />
									</div>
									  <% @friend.each do |friend| %>
									  	<% friend = User.find(friend.friend_id) %>
      								<h6 class="autofill" value="" ><%= friend.email %></h6>
   									<% end %>
									<br>
              </div>
              <div class="form-group">
                  <label >Group name</label>
                  <%= form_for @group do |f|%>										
                  	<%= f.text_field :name, placeholder: "name", :class => 'form-control' %> 
										<br>
										<%= f.hidden_field :user_id, value: current_user.id %>
										<br>
									  <br>
									  <%= f.hidden_field :fname, value: current_user.email, id: "group-creation-names" %>
									  <br>
	              			<%= f.submit value: "Create", :class => 'submit-group btn btn-default btn-login-submit btn-block m-t-md' %>
	              		<% end %>
              </div>            
            </div>
        </div>
    </div>
</div>
		<% end %>  

<script type="text/javascript">
	// Initialize the websocket 
	dispatcher = new WebSocketRails($('#echo').data('uri'));

	// Listen to invite messages from the server
	dispatcher.bind('invite_message', function(data){
		$('#invite-box').append('<form action="'+ data.url +'"><input type="submit" value="Join '+ data.room_name +'"></form>');
	});

	// Disconnect websocket on page unload
	$(window).unload(function(){
		dispatcher.subscribe("<%= @group.name%>_<%= @group.id%>");
		dispatcher.disconnect();
	});
</script>