<div class="container">
    <div class="span3 well">
				<% if current_user.id == @user.id %>
					<center><legend>Welcome <%= current_user.fname %></legend></center>
				<% else %>
				<center><legend>Welcome to <%= @user.fullname %>'s page</legend></center>
				<% end %>
        <img src="<%= @user.image + '?type=large' %>" name="aboutme" width="140" height="140" class="img-circle" id="showimage">
				<!-- user information update -->
				<div class="info-update">
	
				</div>
    </div>
</div>
		<% if @user.id == session[:user_id] %>
			<button class="create-group btn btn-lg btn-primary btn-block">Create a group</button>
		<% else %> 
			<%= button_to 'Add friend', {controller: "friendss", action: "create", user_id: params[:id]}, data: { confirm: 'are you sure?' } %>
		<% end %>
<!-- button to create a group -->
<div class="container3">
    <div class="row">
        <div class='col-md-3'></div>
        <div class="col-md-6">
            <div class="login-box well">
              <legend>Create a New Rumble Group</legend>
              <div class="form-group">
                  <label>Add friends:</label>
                  <br>
                  <div id="tags">
										<input id="tag" type="text" value="" placeholder="Add a friend" />
									</div>
									  <% @users.each do |user| %>
      								<h6 class="autofill" value="" ><%= user.fname %></h6>
   									<% end %>
									<br>
              </div>
              <div class="form-group">
                  <label >Group name</label>
                  <%= form_for @group do |f|%>										
                  	<%= f.text_field :name, placeholder: "name", :class => 'form-control' %> 
										<br>
										<%= f.hidden_field :user_id, value: current_user.id %>
										<br>
									  <br>
									  <%= f.hidden_field :fname, value: current_user.fname, id: "group-creation-names" %>
									  <br>
	              			<%= f.submit value: "Create", :class => 'submit-group btn btn-default btn-login-submit btn-block m-t-md' %>
	              		<% end %>
              </div>            
            </div>
        </div>
    </div>
</div>

