<!DOCTYPE html>
<html>
<head>
  <title>EventRumble</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="echo" data-uri="<%= request.host %>:<%= request.port %>/websocket"></div>
<% if current_user %>
	<script type="text/javascript">
		dispatcher = new WebSocketRails($('#echo').data('uri'));
		dispatcher.on_open = function(){
			console.log("Connection Established");
		};
		notification_channel = dispatcher.subscribe("<%= current_user.fname%>_<%=current_user.id%>")
	</script>
<% end %>

<%= yield %>

</body>
</html>
