<!DOCTYPE html>
<html>
<head>
  <title>EventRumble</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="echo" data-uri="<%= request.host %>:<%= request.port %>/websocket"></div>
<% if current_user %>
	<script type="text/javascript">
		console.log("page load")
		dispatcher = new WebSocketRails($('#echo').data('uri'));
		dispatcher.on_open = function(){
			console.log("Connection Established");
		};
		notification_channel = dispatcher.subscribe("<%= current_user.fname%>_<%=current_user.id%>")
		console.log("subscribed to: <%= current_user.fname%>_<%=current_user.id%>")
		notification_channel.bind('new_message', function(data){
			console.log(data)
		});

		dispatcher.bind('server_message',function(data){
			console.log("server says " + data)
		})
	</script>
<% end %>

<%= yield %>

</body>
</html>
